# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
env/

# Environment variables
.env

# OS files
.DS_Store

# IDE / Editor
.vscode/
.idea/

# Test / cache
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/